*{
    margin: 0;
    padding: 0;
}

#title {
    padding-left: 4.5vw;
    padding-top:3vh;
    font-size:4vh;
}

#subtitle {
    margin-left:4.5vw;
    margin-right:4.5vw;
    padding-bottom:2vh;
    border-bottom: 0.3vh solid #ddd;
    margin-bottom: 2vh;
    box-sizing: content-box;

    font-weight: 100;
    font-size: 2vh;
}

#chart {
    width: 100%;

    padding: 5vh 5vw 5vh 5vw;
    box-sizing: border-box;
}

.days {
    border-left: 0.1vw solid black;
    border-right: 0.1vw solid black;

    display: flex;
    width:100%;
    height: 100%;
}

.day:nth-of-type(7n){
    border-right: 0.1vw solid #bbb;
}

.day:nth-of-type(7n+1){
    border-left: 0;
}

.day:last-child{
    border-right: 0;
}

.day{
    border-left: 0.05vw dashed #ddd;
    border-right: 0.05vw dashed #ddd;

    width:100%;
}

.items {
    position: relative;
    width: 100%;
    height: 0;
}

.item{
    position: absolute;
    text-align: center;
    color: white;
    height:auto;
}

.events{
    position:relative;
    width:100%;
    height:0;
}

.event {
    font-size: 2vh;
    position: absolute;
    /* transform: translate(calc(-1vw), 0); */
    margin-left:-0.35vw;
}

.event > div {
    position: absolute;
    transform: translate(calc(0.4vw - 50%), 0);
    text-align: center;
    color: gray;
}

.dates{
    position:relative;
    width:100%;
    height:0;
}

.date {
    font-size: 2vh;
    text-align: center;
    
    position: absolute;
    top: -4vh;
    /* margin-bottom:1vh; */

    transform: translate(-50%, 0);
}